
header{
    background-color: rgb(34, 26, 151);
}
a{
    text-decoration: none;
    color: aliceblue;   
}
ul{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
li{
    display: inline-block;
    margin-right: 60px;
    margin-left: 60px;
}
p{
    text-align: justify;
    margin-left: 1cm;
    margin-right: 20cm;
}
p{
    text-align: justify;
    margin-top: 1cm;
    margin-left: 13cm;
}